{
    "defaults": {
        "reporters": [
            "cli",
            ["json", { "fileName": "./pa11y-results.json" }]
        ],
        "hideElements": "div.plotly",
        "chromeLaunchConfig": {
            "args": ["--disable-dev-shm-usage", "--no-sandbox"],
            "executablePath": "/usr/bin/google-chrome",
            "ignoreHTTPSErrors": true
        }
    }
}
