{% extends "cms/base.html" %}

{% load wagtailcore_tags ai_images %}

{% block content %}

{% cms_image page.image "format-webp" as cover %}
<article class="after:block after:clear-both after:content-['']">
    <h3>{{ page.title }}</h3>
    <p class="text-sm text-pp-dark-grey mb-6">{{ page.first_published_at|date:"F d, Y" }}</p>

    <figure class="float-none md:float-right mx-0 md:mx-2 mb-4 w-full md:w-1/2">
        <img src="{{ cover.url }}"
            alt="{{ page.image|ai_image_alt:page.title }}"
            class="w-full h-auto rounded border border-pp-pale-grey block">
        {% if page.image_caption %}
            <figcaption class="text-sm text-pp-dark-grey mt-1 italic text-center block w-full wrap-break-word">
                {{ page.image_caption }}
            </figcaption>
        {% endif %}
    </figure>

    <div class="mt-6">
        {% include_block page.content %}
    </div>
</article>

{% endblock %}
