{% comment %}
    This file is used to display the method and site information on the SLU wastewater "methodology" page.
    This template is passed via "StaticBlock" in "SLUDashboardPage" model and is rendered when the editor
    includes it in the page via wagtail admin panel.
{% endcomment %}

{% load plotly_js static %}

{% with sites_info=figures.sites_info %}
    <div class="md:flex md:gap-8 bg-pp-pale-grey/15 px-8 py-6">
        <div class="md:flex-1 bg-white content-center p-4">
            <img src="{% static "cms/images/slu_wastewater/ww_slu_flowchart.png" %}"
                alt="SLU methodology flowchart">
        </div>

        {% if figures.ww_plants_map %}
        <div id="ww-plants-map-plot-area" class="md:flex-1 bg-white">
            {% plotly_html_from_json figures.ww_plants_map display_modebar=False as plot_html %}
            {{ plot_html|safe }}
        </div>
        {% else %}
        <div class="md:flex-1 my-auto text-center" role="alert">
            No wastewater plants map available.
        </div>
        {% endif %}
    </div>
{% endwith %}
