{% extends "base.html" %}

{% block content %}    
    <p>
        SciLifeLab operates the <a href="https://pathogens.se/" target="_blank" rel="noopener noreferrer">pathogens.se</a> and covid19dataportal websites (including its subdomains such as <a href="https://biobanks.covid19dataportal.se/" target="_blank" rel="noopener noreferrer">biobanks.covid19dataportal.se</a>), which provides the <strong>Service</strong>.
    </p>
    
    <p>
        This page is used to inform website visitors regarding our personal data processing policy. If you choose to use our <strong>Service</strong>, then your personal data will be processed in accordance with this policy.
    </p>
    
    <p>
        The personal information that we collect is used for providing and improving the <strong>Service</strong>. We will not use or share your information with anyone except as described in this policy. All collected personal information will be processed for research purposes, i.e. using the lawful basis of public interest and in accordance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016, the General Data Protection Regulation.
    </p>
    
    <h2>Log Data</h2>
    
    <p>
        We want to inform you that whenever you visit our <strong>Service</strong>, we collect the information that your browser sends to us, which is called 'log data'. Log data may include: the website that you visited us from, the parts of our <strong>Service</strong> you visit, the date and duration of your visit, your anonymised IP address, information from the device that you used during your visit (device type, operating system, screen resolution, language, country you are located in, and web browser type), and more. We process this usage data in Matomo Analytics (hosted on SciLifeLab servers and operated solely by SciLifeLab) for statistical purposes, to improve our <strong>Service</strong>, and to recognise and stop any misuse.
    </p>
    
    <p>You can opt out of your Log Data being collected below:</p>
    
    <div class="my-6 p-4 border border-pp-pale-grey">
        <iframe id="matoOpOut" 
                title="Data share opt out box" 
                src="https://matomo.dc.scilifelab.se/index.php?module=CoreAdminHome&action=optOut&language=en&fontSize=16px&fontFamily=Helvetica"
                class="w-full h-32 border-0">
        </iframe>
    </div>
    
    <h2>Forms</h2>
    
    <p>
        Our <strong>Service</strong> contains a number of forms that visitors can use to contact us or send us suggestions. The website visitors may choose to provide their personal information such as their name and e-mail address through these forms.
    </p>
    
    <p>
        The following parties will have access to processing the personal data provided through the forms; SciLifeLab Data Centre, Uppsala University, Kungliga Tekniska högskolan (KTH). Your personal data will be deleted when no longer needed, or when stipulated by the archival rules for the university as a government authority. If you want to update or remove your personal data, please contact the controller SciLifeLab Data Centre at Uppsala University using <a href="mailto:pathogens@scilifelab.se">pathogens@scilifelab.se</a>.
    </p>
    
    <h2>Links to Other Sites</h2>
    
    <p>
        Our <strong>Service</strong> may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the privacy policy of these websites. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party sites or services.
    </p>
    
    <h2>Changes to This Privacy Policy</h2>
    
    <p>
        We may update our privacy policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new privacy policy on this page. These changes posted on this page are effective immediately.
    </p>
    
    <h2>Contact Us</h2>
    
    <p>
        If you have any questions or suggestions about our privacy policy, do not hesitate to contact us.
    </p>
    
    <p>
        Our privacy policy was created with the help of the <a href="https://www.privacypolicytemplate.net" target="_blank" rel="noopener noreferrer">Privacy Policy Template</a> and the <a href="https://www.disclaimergenerator.org/" target="_blank" rel="noopener noreferrer">Disclaimer Generator</a>. Our policy uses text from the <a href="https://www.uu.se/en/about-uu/data-protection-policy" target="_blank" rel="noopener noreferrer">Data protection policy of Uppsala University</a>. The text about cookies was partially copied and partially adapted <a href="https://www.vr.se/english/about-cookies.html" target="_blank" rel="noopener noreferrer">from the website of the Swedish Research Council</a>.
    </p>
{% endblock %}
