{% load static %}

{% if breadcrumbs %}
<nav class="bg-pp-pale-grey border-b border-pp-pale-grey" aria-label="breadcrumb">
  <div class="container">
    <ol class="flex items-center space-x-2 py-3 text-sm">
      {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
          <li class="text-pp-dark-grey font-medium" aria-current="page">
            {{ breadcrumb.title }}
          </li>
        {% else %}
          <li class="flex items-center">
            <a href="{{ breadcrumb.url }}" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
              {{ breadcrumb.title }}
            </a>
            <svg class="w-4 h-4 mx-2 text-pp-dark-grey" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</nav>
{% endif %}
