{% extends "base.html" %} 

{% load static %} 

{% block content %}

<h4 id="introduction">Partners</h4>

<div class="space-y-8 mb-12">
  <!-- Partner 1 -->
  <div class="flex items-center">
    <div class="w-70 flex justify-center">
      <img class="h-15 sm:h-20 w-auto object-contain" src="{% static 'images/about/partners/pdn_logo.png' %}" alt="PDN Logo" />
    </div>
    <div class="ml-10">
      <h5 class="text-sm sm:text-xl m-0">
        <a href="https://pathogendatanetwork.org/" target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
          Pathogen Data Network (PDN)
        </a>
      </h5>
    </div>
  </div>

  <!-- Partner 2 -->
  <div class="flex items-center">
    <div class="w-70 flex justify-center">
      <img class="h-15 sm:h-20 w-auto object-contain" src="{% static 'images/about/partners/eml_pathogens_logo.svg' %}" alt="EMBL-EBI Pathogens Logo" />
    </div>
    <div class="ml-10">
      <h5 class="text-sm sm:text-xl">
        <a href="https://www.pathogensportal.org/" target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
          Pathogens Portal
        </a>
      </h5>
    </div>
  </div>

  <!-- Partner 3 -->
  <div class="flex items-center">
    <div class="w-70 flex justify-center">
      <img class="h-15 sm:h-20 w-auto object-contain" src="{% static 'images/about/partners/ga4gh_logo.png' %}" alt="GA4GH Logo" />
    </div>
    <div class="ml-10">
      <h5 class="text-sm sm:text-xl">
        <a href="https://www.ga4gh.org/" target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
          GA4GH (Global Alliance for Genomics and Health)
        </a>
      </h5>
    </div>
  </div>

  <!-- Partner 4 -->
  <div class="flex items-center">
    <div class="w-70 flex justify-center">
      <img class="h-15 sm:h-20 w-auto object-contain" src="{% static 'images/about/partners/european_covid19dataportal.svg' %}" alt="European COVID-19 Data Portal Logo" />
    </div>
    <div class="ml-10">
      <h5 class="text-sm sm:text-xl">
        <a href="https://www.covid19dataportal.org/" target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
          European COVID-19 Data Portal
        </a>
      </h5>
    </div>
  </div>

  <!-- Partner 5 -->
  <div class="flex items-center">
    <div class="w-70 flex justify-center gap-4">
      <img class="h-10 sm:h-15 w-auto object-contain" src="{% static 'images/about/partners/nbislogo-orange-txt.svg' %}" alt="NBIS Logo" />
      <img class="h-10 sm:h-15 w-auto object-contain ml-3" src="{% static 'images/about/partners/elixir-se-logo.png' %}" alt="ELIXIR Sweden Logo" />
    </div>
    <div class="ml-10">
      <h5 class="text-sm sm:text-xl">
        <a href="https://nbis.se/" target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
          NBIS
        </a>
        and
        <a href="https://www.elixir-europe.org/" target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200">
          ELIXIR
        </a>
        Sweden
      </h5>
    </div>
  </div>

  
</div>

{% endblock %}
