{% extends "base.html" %}

{% block content %}
<h4>Research Data Management Support</h4> 
<p>Following  best practices in Research Data Management (RDM) ensures that you can manage your data efficiently throughout the data lifecycle, comply with ethical and legal frameworks, and maximise the impact of your work. 
Importantly, well-curated and shared research outputs (data and code) are key for enabling reuse and improving reproducibility. 
Research outputs should be as Open <a href="https://www.nature.com/articles/nchem.1149"  target="_blank" rel="noopener noreferrer">nature.com/articles/nchem.1149</a> 
and <b>FAIR</b> (<b>F</b>indable, <b>A</b>ccessible,<b>I</b>nteroperable, and <b>R</b>eusable) as possible <a href="https://www.nature.com/articles/sdata201618"   target="_blank" rel="noopener noreferrer"  >nature.com/articles/sdata201618</a>
</p>
<p>
On this page, you will find information relevant to the management of infectious disease/pandemic preparedness data generated in Sweden. Read the national guidelines for more background information about
<a href="https://www.vr.se/english/analysis/reports/our-reports/2023-08-24-national-guidelines-for-open-science-in-sweden.html" target="_blank" rel="noopener noreferrer">Open science in Sweden</a>.
<p/>

<h4>Getting further support with RDM </h4>
<p>
The Swedish Pathogens Portal offers considerable support for research data management, in the form of [guidance] and [providing access to relevant tools….]. 
Direct one-on-one support is also available for tailored advice and can be accessed by sending a request to <a href="mailto:pathogens@scilifelab.se">pathogens@scilifelab.se</a>  or via the <a href="">contact form</a>.
You can typically expect a response within one working day.
</p>

For more general RDM advice relevant to Swedish research, we recommend visiting <a href="https://data-guidelines.scilifelab.se/" target="_blank" rel="noopener noreferrer" >SciLifeLab Research Data Management Guidelines</a>,
and emailing  <a href="mailto:data-management@scilifelab.se">data-management@scilifelab.se</a>  for direct support.

<h4>Infectious Disease Resources & Tools   </h4>
<p>
Effective research data management in infection biology relies not only on good planning but also on access to the right infrastructure and expert support. 
Below are some key services and tools available to Swedish researchers that help ensure data are managed according to FAIR principles.
</p>


<p>
Effective research data management in infection biology relies not only on good planning but also on access to the right infrastructure and expert support. 


<h5 class="bg bg-pp-teal rounded-sm flex-auto" >SciLifeLab Data Stewardship Wizard (DSW)</h5>

<a href="https://dsw.scilifelab.se/wizard" >The Data Stewardship Wizard (DSW)</a> is an interactive online tool that guides researchers through the creation of Data Management Plans (DMPs). It is tailored to align with FAIR principles and funder requirements, and helps researchers consider data formats, ethical/legal issues, and repository choices from the very start of a project. A tool designed to help you to write a DMP that is compliant with the requirements of the Swedish Research Council and others.


<h5 class="bg bg-pp-teal rounded-sm flex-auto" >SciLifeLab FAIR Storage</h5>

<a href= "https://data.scilifelab.se/services/fairstorage/" >SciLifeLab FAIR Storage</a> provides Swedish researchers with secure, high-performance storage designed for large-scale life science datasets, including outputs like sequencing, imaging, and proteomics. The service is intended to support data sharing in accordance with the FAIR principles and is available for any project that advances knowledge and discovery within the field of Swedish data-driven life science. The service ensures long-term availability, data integrity, and compliance with FAIR principles. It is particularly well-suited for multi-site collaborations where fast and reliable access to shared datasets is essential. Researchers can rely on this infrastructure for both active projects and preservation of valuable datasets beyond the project’s lifetime.The allocation of resources and application process are both managed by <a href="https://www.scilifelab.se/data/" >SciLifeLab Data Centre.</a>
<h5 class="bg bg-pp-teal rounded-sm flex-auto">NBIS (National Bioinformatics Infrastructure Sweden) </h5>

<a href="https://nbis.se/">NBIS</a> is Sweden’s national bioinformatics support platform, offering services in systems development, bioinformatics analyses, and data flow management. NBIS can assist with everything from genome assembly of pathogens to complex multi-omics integration and large-scale data pipelines. NBIS also provides expert advice on data standards, metadata annotation, and repository deposition—ensuring that your project’s outputs are interoperable and reusable. In addition, NBIS runs training and workshops, equipping researchers with the skills to apply FAIR principles in practice.

<h5 class="bg bg-pp-teal rounded-sm flex-auto" >SciLifeLab Research Data Management Guidelines</h5>
<a href="https://data-guidelines.scilifelab.se/" >SciLifeLab Research Data Management Guidelines</a> is a knowledge hub for the management of life science research data in Sweden. NBIS and SciLifeLab Data Centre have collaborated to bring together information related to best practices for life science RDM in Sweden. Information is available for all stages of the research data lifecycle, from creating a Data Management Plan (DMP) prior to conducting the research to preserving the data after the study concludes.

<h5 class="bg bg-pp-teal rounded-sm flex-auto" >Research Data Management Kit (RDMkit)</h5>

<a href="https://rdmkit.elixir-europe.org/" >The Research Data Management Kit (RDMkit)</a> is similar to the <a href="https://www.infectious-diseases-toolkit.org/" >Disease Toolkit (IDTk)</a> , except that it contains information on RDM related to life science data in general, rather than just infectious disease data. It contains information relevant for all stages of the research data lifecycle, from planning to preservation.

<h5 class="bg bg-pp-teal rounded-sm flex-auto" >Swedish National Data Service (SND)</h5>

The <a href="https://snd.se/" >National Data Service (SND)</a> has put together guidance for RDM that is applicable to all scientific fields. They also offer relevant tools, events, and training.

See the following pages for information relevant for:
<li><a href="https://snd.gu.se/en/manage-data/plan">Planning stu</a><a href="https://snd.gu.se/en/manage-data/plan">dies</a> e.g. DMPs, funding applications, ethical reviews, agreements with other parties, and handling personal data.</li>
<li><a href="https://snd.gu.se/en/manage-data/organise">Organising data</a> e.g. folder structures and file formats.</li>
<li><a href="https://snd.gu.se/en/manage-data/document">Documenting data.</a> </li>
<li><a href="https://snd.gu.se/en/manage-data/work-with-data">Working with data</a> e.g. dealing with errors, loss, and accessing data. </li>
<li><a href="https://snd.gu.se/en/manage-data/prepare-and-share">Preparing and sharing data</a> e.g. reusing data, the FAIR principles, PID (persistent identifiers), licences, embargos, publication, and open access. </li>
<li><a href="https://snd.gu.se/en/manage-data/guides">Guides for RDM</a>.</li>

<h5 class="bg bg-pp-teal rounded-sm flex-auto" >ELLIS against COVID-19</h5>
 <a href="https://ellis.eu/covid-19">ELLIS against COVID-19</a> is a collection of recordings from online workshops organised by ELLIS, showcasing AI and machine learning projects tackling COVID-19. Topics include outbreak prediction, epidemiological modelling, drug discovery, and healthcare management.
</p>


<h4>Metadata Standards, Tools and Repositories </h4>

  <table class="table-auto min-w-full text-s p-2 mx-auto rounded-md sm:p-4 dark:text-gray-800 dark:bg-gray-50">
 <thead>
  <tr>
    <th rowspan="2"></th>
    <th class="border-b border-opacity-2" colspan="2">Metadata</th>
  </tr>
  <tr>
    <th>Standards</th>
    <th>Description</th>
  </tr></thead>
<tbody>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="4">Genomics</td>
    <td><a href="https://genomicsstandardsconsortium.github.io/mixs/">MIxS (Minimum Information about any (x) Sequence)</a></td>
    <td>Developed by<a href="https://www.gensc.org/"> </a><a href="https://www.gensc.org/">Genomic Standards Consortium</a>; used for describing sequences from different environments (e.g., host-associated, environmental).</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://zenodo.org/records/5706412">MINSEQE (Minimum Information about a High-Throughput Nucleotide Sequencing Experiment)</a></td>
    <td>Recommended by<a href="https://www.fged.org/projects/minseqe/"> </a><a href="https://www.fged.org/projects/minseqe/">FGED</a> for RNA-seq and other sequencing metadata.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://www.ebi.ac.uk/ena/browser/checklists">ENA Checklists</a></td>
    <td>Specific checklists for submission to<a href="https://www.ebi.ac.uk/ena/browser/home"> </a><a href="https://www.ebi.ac.uk/ena/browser/home">European Nucleotide Archive</a> (e.g., pathogen, human, metagenome).</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://isa-specs.readthedocs.io/en/latest/isatab.html">ISA-Tab</a> /<a href="https://isa-specs.readthedocs.io/en/latest/isajson.html"> </a><a href="https://isa-specs.readthedocs.io/en/latest/isajson.html">ISA-JSON</a></td>
    <td>Framework for describing experimental metadata, often used with bioinformatics tools and databases.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="3">Proteomics</td>
    <td><a href="https://www.psidev.info/miape">MIAPE (Minimum Information About a Proteomics Experiment)</a></td>
    <td>Developed by<a href="https://www.psidev.info/about-the-hupo-proteomics-standards-initiative-psi"> </a><a href="https://www.psidev.info/about-the-hupo-proteomics-standards-initiative-psi">HUPO-PSI</a>; covers mass spectrometry, sample processing, informatics.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://github.com/HUPO-PSI/miXML/wiki">PSI-MI XML</a> /<a href="https://psicquic.github.io/MITAB28Format.html"> </a><a href="https://psicquic.github.io/MITAB28Format.html">MITAB</a></td>
    <td><a href="https://psicquic.github.io/">For molecular interaction</a> data formats (used in interaction databases).</td>
  </tr>
    <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://sbeams.systemsbiology.net/tmp/mzML1.0.0.html">mzML</a> /<a href="https://www.psidev.info/mzidentml"> </a><a href="https://www.psidev.info/mzidentml">mzIdentML</a> /<a href="https://www.psidev.info/mztab-specifications"> </a><a href="https://www.psidev.info/mztab-specifications">mzTab</a></td>
    <td>Standard formats for raw data, identifications, vocabulary and quantification results in the field of  mass spectrometry-based proteomics.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="3">Imaging</td>
    <td><a href="https://docs.openmicroscopy.org/ome-model/5.6.3/ome-tiff/specification.html#ome-xml-metadata">OME-TIFF / OME-XML</a></td>
    <td>Developed by<a href="https://www.openmicroscopy.org/"> </a><a href="https://www.openmicroscopy.org/">Open Microscopy Environment</a>; widely used for storing microscopy images and associated metadata.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://www.nature.com/articles/s41592-021-01166-8">REMBI (Recommended Metadata for Biological Images)</a></td>
    <td>Designed to enable reproducibility and data reuse for imaging datasets.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://www.dicomstandard.org/current">DICOM (Digital Imaging and Communications in Medicine)</a></td>
    <td>Standard for handling, storing, and transmitting medical imaging information (e.g., CT, MRI).</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="3">Bioassays / Experimental Data</td>
    <td><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5031183/">MIACA (Minimum Information About a Cellular Assay)</a></td>
    <td>For reporting cellular assays, including experimental context and protocols.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://www.nature.com/articles/nrd3503">MIABE (Minimum Information About a Bioactive Entity)</a></td>
    <td>For small molecule screening and bioactivity reporting.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="http://bioassayontology.org/bioassayontology/">BAO (BioAssay Ontology)</a></td>
    <td>Ontology that enables uniform annotation of bioassays and protocols.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="5">Clinical &amp; Health Data</td>
    <td><a href="https://www.cdisc.org/standards/foundational">CDISC</a> (e.g.,<a href="https://learnstore.cdisc.org/catalog?pagename=SDTM"> </a><a href="https://learnstore.cdisc.org/catalog?pagename=SDTM">SDTM</a>, ADaM, SEND)</td>
    <td>Industry standard for clinical trial data exchange and analysis. (not so open)</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://confluence.hl7.org/spaces/FHIR/overview">HL7 / FHIR (Fast Healthcare Interoperability Resources)</a></td>
    <td>Widely adopted in EHR systems for structured health data.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://loinc.org/">LOINC</a> /<a href="https://www.snomed.org/"> </a><a href="https://www.snomed.org/">SNOMED CT</a> /<a href="https://icd.who.int/browse10/2019/en"> </a><a href="https://icd.who.int/browse10/2019/en">ICD-10</a></td>
    <td>Controlled vocabularies for lab tests, symptoms, diagnoses.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://physionet.org/news/post/mimic-derived-datasets-models">MIMIC-IV Metadata Guidelines</a></td>
    <td>For structured ICU/clinical datasets in open research.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://www.dublincore.org/">Dublin Core</a> +<a href="https://docs.dataportal.se/dcat/sv/"> </a><a href="https://docs.dataportal.se/dcat/sv/">DCAT-AP-SE</a></td>
    <td>Metadata cataloging for health data in national repositories.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="3">Omics Imaging (e.g., Spatial Transcriptomics, Multi-modal)</td>
    <td><a href="https://db.cngb.org/stomics/mosta/">STOMIC</a> (Spatial Transcriptomics Open Metadata and Image Convention)</td>
    <td>A proposed standard for organizing spatial omics data.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://isa-specs.readthedocs.io/en/latest/isatab.html">ISA-Tab</a> +<a href="https://docs.openmicroscopy.org/ome-model/5.6.3/ome-xml/"> </a><a href="https://docs.openmicroscopy.org/ome-model/5.6.3/ome-xml/">OME-XML</a></td>
    <td>For integrating omics and imaging data.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://hupo.org/B/D-HPP">HUPO-B/D Standards</a></td>
    <td>For multimodal single-cell data and proteogenomics metadata.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td rowspan="2">Metabolomics Data</td>
    <td><a href="https://isa-specs.readthedocs.io/en/latest/isajson.html">ISA-Tab / ISA-JSON</a></td>
    <td>Describes experimental design, sample preparation, and data files.</td>
  </tr>
  <tr class=" border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-100">
    <td><a href="https://github.com/MSI-Metabolomics-Standards-Initiative/CIMR">Metabolomics Standards Initiative (MSI)</a></td>
    <td>Offers domain-specific guidelines for metadata and reporting.</td>
  </tr>
</tbody></table>







    {% endblock %}

